body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: Tahoma;
    flex-direction: column;
    align-items: center;
}

.buttonSection{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button[type="button"]:nth-child(1) {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

button[type="button"]:nth-child(2) {
    background-color: #008CBA;
    /* Blue */
    color: white;
}

button:hover {
    opacity: 0.8;
}

.tableData {
    width: 80%;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

table tr td,
table tr th {
    border: 2px solid black;
    padding: 5px;
}

table>thead {
    background-color: grey;
    color: white;
}

table>tbody>tr:nth-child(even) {
    background-color: rgb(217, 216, 216);
}
form {
    min-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}